<?xml version="1.0" encoding="UTF-8" ?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0">
    <servers>
        <server>
            <id>oss.sonatype.org</id>
            <username>kx5Bw0J4</username>
            <password>SsOCRjIaetH3GEAXabqxjJSPGHiXNVRatzJWfQcM8Z+C</password>
        </server>
    </servers>
</settings>